.container{
  #main{
    background-color: #e3e3e3;
    border-radius: 6px;
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    h1{
      text-align: center;
    }
    p{
      font-size: 18px;
    }
    .form-submit{
      margin: auto;
      text-align: center;
    }
    .my-quote{
      margin: 30px auto;
      .quote-btns{
        text-align: center;
        margin: 30px auto;
        button{
          margin: auto 6px;
        }
      }
      table{
        background-color: white;
        border-radius: 6px;
      }
    }
  }
}
