body {
  background-color: #e3e3e3;
  font-family: 'proxima-nova'; }

.container {
  background-color: transparent; }
  .container #main {
    background-color: #fff;
    border-radius: 6px;
    max-width: 900px;
    margin: 30px auto;
    padding: 5%; }
    .container #main .adv-logo {
      text-align: center; }
      .container #main .adv-logo img {
        margin: 10px auto;
        max-width: 50%; }
    .container #main h1 {
      text-align: center;
      color: #00a3e0; }
    .container #main p {
      font-size: 18px;
      width: 88%;
      margin: auto;
      text-align: center;
      margin-bottom: 10px; }
    .container #main .form-group input.form-control {
      box-shadow: inset 0 -1px 0 #00a3e0 !important; }
    .container #main .form-submit {
      margin: auto;
      text-align: center; }
      .container #main .form-submit input {
        background-color: white;
        color: #00a3e0;
        font-weight: 500;
        letter-spacing: .112em;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6); }
        .container #main .form-submit input:hover {
          background-color: #00a3e0;
          color: white; }
    .container #main .my-quote {
      margin: 30px auto;
      display: none; }
      .container #main .my-quote.show-quote {
        display: block; }
      .container #main .my-quote p {
        text-align: left;
        margin-left: 0px; }
      .container #main .my-quote .quote-btns {
        text-align: center;
        margin: 30px auto; }
        .container #main .my-quote .quote-btns button {
          margin: auto 6px;
          background-color: white;
          color: #00a3e0;
          font-weight: 500;
          letter-spacing: .112em;
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6); }
          .container #main .my-quote .quote-btns button:hover {
            background-color: #00a3e0;
            color: white; }
      .container #main .my-quote #enterPhoneNumber {
        display: none;
        position: fixed;
        top: 30vh;
        left: 0;
        right: 0;
        z-index: 2;
        max-width: 500px;
        padding: 50px 50px 30px;
        margin: 0px auto;
        border: thin solid #373b40;
        border-radius: 6px;
        background-color: white; }
        .container #main .my-quote #enterPhoneNumber #cancelButton {
          position: absolute;
          right: 5px;
          top: 5px;
          font-size: 1.4em;
          padding: 2px 9px;
          border: thin solid #373b40;
          border-radius: 6px; }
          .container #main .my-quote #enterPhoneNumber #cancelButton:hover {
            background-color: black;
            color: white;
            cursor: pointer; }
        .container #main .my-quote #enterPhoneNumber #submitted-form {
          display: none; }
      .container #main .my-quote .quote-head {
        width: 50%;
        margin-top: 20px;
        float: left; }
    .container #main .quote-btns {
      text-align: center;
      margin: 30px auto; }
      .container #main .quote-btns button {
        margin: auto 6px;
        background-color: white;
        color: #00a3e0;
        font-weight: 500;
        letter-spacing: .112em;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6); }
        .container #main .quote-btns button:hover {
          background-color: #00a3e0;
          color: white; }
    .container #main table {
      background-color: #e3e3e3;
      border-radius: 6px; }
      .container #main table td, .container #main table th {
        border-bottom: 2px solid white;
        border-top: none; }
      .container #main table tr:nth-last-child(2), .container #main table tr:last-child {
        background-color: white;
        font-size: 1.2em; }
        .container #main table tr:nth-last-child(2) td, .container #main table tr:nth-last-child(2) th, .container #main table tr:last-child td, .container #main table tr:last-child th {
          border-bottom: thin solid #373b40; }
        .container #main table tr:nth-last-child(2) td, .container #main table tr:last-child td {
          color: green;
          font-weight: 700; }
      .container #main table tr:nth-last-child(3) td {
        color: red; }
  .container #initial-quote-form input[type="submit"]:disabled {
    background-color: #f3f3f3; }
    .container #initial-quote-form input[type="submit"]:disabled:hover {
      color: #00a3e0; }
  .container #initial-quote-form input[type="submit"]:enabled {
    background-color: #00a3e0;
    color: white; }
  .container #speak-with-a-specialist {
    display: none;
    text-align: center;
    padding: 50px 0px; }
    .container #speak-with-a-specialist button {
      margin: 20px;
      width: 172px; }
    .container #speak-with-a-specialist #back-button-to-generator {
      color: #373b40;
      font-size: 16px; }
      .container #speak-with-a-specialist #back-button-to-generator:hover {
        color: #00a3e0;
        cursor: pointer;
        text-decoration: underline; }
